---
import BaseLayout from '../layouts/BaseLayout.astro';
// Get recent notes/projects here
---

<BaseLayout title="Home">
  <!-- Everything here gets injected into the <slot /> of BaseLayout -->
  <h1>Welcome to my Digital Garden</h1>
  <p>Here are my recent thoughts...</p>
</BaseLayout>
