---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import SideBar from '../../components/SideBar.astro';
import NavBar from '../../components/NavBar.astro';
import Footer from '../../components/Footer.astro';
import 'katex/dist/katex.min.css'

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');

  // Loop through projects and create a route for each one
  return projectEntries.map(entry => ({
    // Turl slug param into url
    params: { slug: entry.id },
    // Pass markdown file's data forward as props
    props: { entry },
  }));
}

// Grab md file content and extract it for each project 
const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout pageTitle={entry.data.title}>
  <div class = "layout">
    <SideBar/>
    <NavBar/>
    <div class = main-container>
      <div class = main-content-wrapper>
        <article class="project-content">
          <header class="project-header">
            <h1>{entry.data.title}</h1>
            
            <div class="tag-wrapper">
              {entry.data.projectTags.map((tag) => (
                <span class="tape-tag">{tag}</span>
              ))}
            </div>
          </header>
          <!-- Markdown content is loaded here. Tailwind helps with text color theme -->
          <div class="markdown-content prose dark:prose-invert">
            <Content />
          </div>
        </article>
      </div>
      <Footer/>
    </div>
  </div>
</BaseLayout>

<style>
  .project-header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1.5rem;
  }

  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-content: flex-start;
    height: 100%;
  }

  .markdown-content{
    margin: 0 auto;
    line-height: 1.6;
  }
</style>