---
import "../styles/global.css";

const {pageTitle} = Astro.props;
---

<html lang="en"> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
    <!-- The page content will render here -->
    <slot /> 
  </body>
</html>